@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary: #fe2c55;
    --while: #fff;

    // default layout 
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;

    // color 
    --black: #000;
    --text-color: #333;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-family: 'Poppins', sans-serif;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
    color: black;
    font-weight: 600 !important;
}