@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary: #fe2c55;
    --while: #fff;

    // default layout 
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;


    // color 
    --black: #000;
    --text-color: #161823;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

// custom Tippy tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        border-radius: 8px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }
}