.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: border;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #fff;
    user-select: none;

    +.wrapper {
        margin-left: 8px
    }

    &disabled {
        pointer-events: none;
        opacity: 0.5;

    }
}

.title+.icon,
.icon+.title {
    margin-left: 6px;

}

.title,
{
font-weight: bolder;
}

//Button type
.rounded {
    border-radius: 99px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--while);
    border-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #FE2C55;
        border-color: var(--primary);
    }
}

.outline {
    border-color: var(--primary);
    color: var(--primary);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        border-color: var(--primary);

    }

}

.text {
    font-weight: border;

    &:hover {
        text-decoration: underline;
    }
}




//button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 148px;
}