//menu wrapper
.menu-list {
    width: 224px;

    .menu-item a {
        display: flex;
        align-items: center;
        font-size: 16px;
        min-width: 100px;
        padding: 9px 16px;
        border-radius: 4px;
        line-height: 18px;
        cursor: pointer;
        border: 1px solid transparent;
        background-color: #fff;
        user-select: none;
    }
}

.menu-popper {
    padding-bottom: 1px;
}

.menu-item {
    width: 100%;
    border-radius: 0;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);

    }
}

// Header
.header {
    position: relative;
    height: 50px;

}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    user-select: none;
}