//menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        min-width: 100px;
        padding: 9px 16px;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid transparent;
        background-color: #fff;
        user-select: none;
    }
}

.menu-popper {
    padding-bottom: 1px;
}

.menu-item {
    width: 100%;
    border-radius: 0;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);

    }
}