.wrapper {

    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;


    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0/ 12%);
    width: 100%;
    display: flex;
    justify-content: center;

}

.content {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    height: 40px;
}

.logo img {
    width: 100%;
    height: 100%;
    background-color: white;
}

.search,
.search-result {
    width: 361px;
    padding-top: 8px;
}



.search {
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid transparent;

    input {
        font-size: 16px;
        color: var(--black);
        background-color: transparent;
        padding: 12px 0px;
        flex: 1;
        caret-color: red;
    }

    input:not(:placeholder-shown)~.search-btn {
        color: var(--black);
    }

    &::after {
        content: "";
        position: absolute;
        width: 1px;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        height: calc(var(--search-height) - var(--search-top-spacer)*2);
        background-color: rgba(22, 24, 35, 0.12)
    }

    &:focus-within {
        border: 1px solid rgba(22, 24, 35, 0.2)
    }
}

.search-title {
    padding: 10px;
}


.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);

}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 16px;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-title {
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 14px;
}

.action {
    display: flex;
}

.more-btn {
    font-size: 20px;
    margin-left: 28px;
    background-color: transparent;

}